# Basic Backend Vars
DATABASE_URL=postgres://olimorissette@localhost/terse
SEARCH_DATABASE_URL=postgres://thomaskaratzas@localhost/apo_search
JWT_SECRET=
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
PORT=8080
ENV=development

USE_MOCK_TICKETS=true

# Need this for callbacks
BACKEND_URL=

# Github APP
WEBHOOK_PROXY_URL=
APP_ID=
PRIVATE_KEY=
WEBHOOK_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Testing Github OAuth App
GITHUB_AUTH_CLIENT_ID=
GITHUB_AUTH_CLIENT_SECRET=
GITHUB_LOGIN_REDIRECT=http://localhost:5173/ # Go to frontend
GITHUB_CALLBACK_URL=http://localhost:3001/auth/github/callback
GITHUB_APP_CALLBACK_URL="http://localhost:3001/auth/github-app"
GITHUB_LOGIN_CALLBACK_URL=
GITHUB_APP_NAME=

# SLACK Integrations - NEW TERSE APP
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_SIGNING_SECRET=
SLACK_OAUTH_CALLBACK_URL=http://localhost:3001/slack/oauth-callback

# GMAIL Integration
GMAIL_PUBSUB_TOPIC=
GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_REDIRECT_URI=http://localhost:3001/gmail/callback
GMAIL_FRONTEND_REDIRECT=http://localhost:5173/

GOOGLE_AUTH_CALLBACK_URL=http://localhost:3001/auth/google/callback
GOOGLE_LOGIN_REDIRECT=http://localhost:5173/app

# Notion 
NOTION_OAUTH_CLIENT_ID=
NOTION_OAUTH_CLIENT_SECRET=
NOTION_OAUTH_REDIRECT_URI=http://localhost:3001/notion/oauth/callback
FRONTEND_URL=http://localhost:5173

# Figma
FIGMA_CLIENT_ID=
FIGMA_CLIENT_SECRET=
FIGMA_REDIRECT_URL=http://localhost:3001/figma/oauth/callback

# Linear
LINEAR_CLIENT_ID=
LINEAR_CLIENT_SECRET_ID=
LINEAR_OAUTH_CALLBACK_URL=http://localhost:3001/linear/oauth/callback
LINEAR_WEBHOOK_SIGNING_SECRET=

# Atlassian
ATLASSIAN_CLIENT_ID=
ATLASSIAN_CLIENT_SECRET=
ATLASSIAN_CALLBACK_URL=http://localhost:3001/atlassian/oauth/callback

# Posthog
POSTHOG_API_KEY=asdfasdf


# Cloud Scheduler Token used to validate requests come from Cloud Scheduler
CLOUD_SCHEDULER_SECRET=