node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma
/src/generated/local-auth-prisma

# Local-auth SQLite database (created by `prisma migrate dev` in local mode)
/local-auth.db
/local-auth.db-journal

dist