/* @theme {
    --background-dark: light-dark(hsl(30, 0%, 91%), hsl(30, 0%, 4%));
    --background: light-dark(hsl(180, 4%, 94%), hsl(180, 4%, 6%));
    --background-light: light-dark(hsl(211, 6%, 96%), hsl(211, 6%, 9%));

    --background-hover: light-dark(hsl(211, 6%, 84%), hsl(211, 6%, 14%));


    --border: light-dark(hsl(0, 0%, 80%), hsl(0, 0%, 20%));

    --shadow: 0 2px 2px hsla(0, 0%, 0%, 0.07), 0 4px 4px hsla(0, 0%, 0%, 0.15);

    --text-primary: light-dark(hsl(0, 0%, 5%), hsl(0, 0%, 95%));
    --text-secondary: light-dark(hsl(0, 0%, 30%), hsl(0, 0%, 70%));
    --text-disabled: light-dark(hsl(0, 0%, 40%), hsl(0, 0%, 50%));

    --color-accent: oklch(0.7 0.17 172);
    --color-accent-secondary: oklch(0.7 0.27 10);
    --color-accent-tertiary: oklch(0.7 0.27 250);
    --color-accent-quaternary: oklch(0.7 0.27 320);
    --color-accent-danger: oklch(0.7 0.27 350);
    --color-success: oklch(0.7 0.27 145);
} */